In [1]:
from dsc2024 import datasets
from dsc2024 import handling

In [2]:
df = datasets.get_public_dataset()
# sampling
# df = df.sample(n=10000, replace='False')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302399 entries, 0 to 302398
Data columns (total 10 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   flightid                       302399 non-null  object
 1   hora_ref                       302399 non-null  datetime64[ns]
 2   origem                         302399 non-null  object
 3   destino                        302399 non-null  object
 4   url_img_satelite               298666 non-null  object
 5   metaf                          155737 non-null  object
 6   metar                          300770 non-null  object
 7   prev_troca_cabeceira           302399 non-null  int64
 8   troca_cabeceira_hora_anterior  302399 non-null  int64
 9   espera                         211679 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(6)
memory usage: 23.1+ MB

In [4]:
df.head()

,flightid,hora_ref,origem,destino,url_img_satelite,metaf,metar,prev_troca_cabeceira,troca_cabeceira_hora_anterior,espera
0,504a62621cd231d6ab67e674ce538cd3,2022-06-01 01:00:00,SBCF,SBFL,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBFL 010000Z 17009KT 140V200 9999 BKN030...,0,1,0.0
1,b0fd0f83644625ecc21f5261e8e5e347,2022-06-01 01:00:00,SBPA,SBFL,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBFL 010000Z 17009KT 140V200 9999 BKN030...,0,1,0.0
2,1210f0ca07ddca00d09a3e02d3b100d8,2022-06-01 01:00:00,SBSP,SBCF,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBCF 010000Z 12006KT CAVOK 21/14 Q1018=,0,0,0.0
3,b25032f34507cce285ee779446496568,2022-06-01 01:00:00,SBGR,SBCT,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBCT 010000Z 10006KT 7000 -RA BKN004 OVC...,0,0,0.0
4,00762a9892ecba7c66d1d87800d38cac,2022-06-01 01:00:00,SBSP,SBSV,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBSV 010000Z 11008KT 9999 FEW023 27/21 Q...,0,1,0.0

In [5]:
df_sampling = df.sample(1000)

In [6]:
df_sampling

,flightid,hora_ref,origem,destino,url_img_satelite,metaf,metar,prev_troca_cabeceira,troca_cabeceira_hora_anterior,espera
189613,7007abf1ec01b4dcc0e9c4998d179e3f,2023-01-21 20:00:00,SBSV,SBGR,http://satelite.cptec.inpe.br/repositoriogoes/...,METAF SBGR 212000Z 19005KT 9999 SCT033 ...,METAR SBGR 211900Z 17009KT 9999 BKN045 FEW050T...,0,0,0.0
233656,bd107a572472203210898165abe3d88c,2023-03-14 22:00:00,SBCF,SBSP,http://satelite.cptec.inpe.br/repositoriogoes/...,METAF SBSP 142200Z 11008KT 9000 BKN016 ...,METAR COR SBSP 142100Z 29004KT 240V330 4000 -R...,0,1,NaN
218845,0175851be0e28b42d69bd3cc6f478464,2023-02-25 16:00:00,SBRF,SBSP,http://satelite.cptec.inpe.br/repositoriogoes/...,METAF SBSP 251600Z 31012KT CAVOK 29/16 Q1012=,METAR SBSP 251500Z 34014KT 9999 BKN040 FEW050T...,0,0,NaN
122830,2b198fd5732afdb41b75c9fa6e969bb7,2022-11-03 22:00:00,SBBR,SBGR,http://satelite.cptec.inpe.br/repositoriogoes/...,METAF SBGR 032200Z 14008KT 9999 FEW010 ...,METAR SBGR 032100Z 16008KT 9999 BKN030 15/08 Q...,0,0,0.0
101869,99a801852d6fa7403c44e0e3383354a8,2022-10-08 16:00:00,SBKP,SBCF,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBCF 081500Z VRB05KT 9999 FEW025 SCT100 ...,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...
109151,8a549a6f93799a40a7108b50fcaadfc8,2022-10-18 11:00:00,SBBR,SBRJ,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBRJ 181000Z 03006KT 9999 SCT017 OVC040 ...,0,1,0.0
22716,4c9e29ecb64c38ac21030d735403d655,2022-07-01 09:00:00,SBSP,SBRJ,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,NaN,0,0,0.0
243231,7f2c8182d79c658c7de39050f2fd10a7,2023-03-26 11:00:00,SBSV,SBRF,http://satelite.cptec.inpe.br/repositoriogoes/...,NaN,METAR SBRF 261000Z 12004KT 9999 SCT020 BKN050 ...,1,0,NaN
262884,5041d8c214c5a5e3dadfab99cb9da88d,2023-04-17 13:00:00,SBBR,SBRJ,http://satelite.cptec.inpe.br/repositoriogoes/...,METAF SBRJ 171300Z 09002KT CAVOK 28/18 Q1010=,METAR SBRJ 171200Z 01004KT CAVOK 25/21 Q1009=,0,0,NaN
126210,2ecaf20a9a737b1ae8ddae63764e03d5,2022-11-08 00:00:00,SBBR,SBKP,http://satelite.cptec.inpe.br/repositoriogoes/...,METAF SBKP 080000Z 12015KT 6000 SCT033 ...,METAR SBKP 072300Z 14017KT CAVOK 17/11 Q1019=,0,0,0.0

In [7]:
handling.parse_metar_as_dataframe(df_sampling, metar_column="metaf")

,station_id,latitude,longitude,elevation,date_time,wind_direction,wind_speed,wind_gust,visibility,current_wx1,...,skyc4,skylev4,cloudcover,temperature,dewpoint,altimeter,current_wx1_symbol,current_wx2_symbol,current_wx3_symbol,remarks
189613,SBGR,-23.42,-46.47,750.0,2023-01-21 20:00:00,190.0,5.0,NaN,9999.0,NaN,...,NaN,NaN,4.0,27.0,18.0,29.766223,0.0,0.0,0.0,
233656,SBSP,-23.62,-46.63,803.0,2023-03-14 22:00:00,110.0,8.0,NaN,9000.0,NaN,...,NaN,NaN,6.0,22.0,18.0,29.972933,0.0,0.0,0.0,
218845,SBSP,-23.62,-46.63,803.0,2023-02-25 16:00:00,310.0,12.0,NaN,10000.0,NaN,...,NaN,NaN,0.0,29.0,16.0,29.884343,0.0,0.0,0.0,
122830,SBGR,-23.42,-46.47,750.0,2022-11-03 22:00:00,140.0,8.0,NaN,9999.0,NaN,...,NaN,NaN,2.0,15.0,8.0,30.091053,0.0,0.0,0.0,
101869,None,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109151,None,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
22716,None,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
243231,None,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
262884,SBRJ,-22.88,-43.17,3.0,2023-04-17 13:00:00,90.0,2.0,NaN,10000.0,NaN,...,NaN,NaN,0.0,28.0,18.0,29.825283,0.0,0.0,0.0,
126210,SBKP,-23.00,-47.12,661.0,2022-11-08 00:00:00,120.0,15.0,NaN,6000.0,NaN,...,NaN,NaN,4.0,15.0,12.0,30.091053,0.0,0.0,0.0,

In [8]:
handling.parse_metar_as_dataframe(df_sampling, metar_column="metar")

,station_id,latitude,longitude,elevation,date_time,wind_direction,wind_speed,wind_gust,visibility,current_wx1,...,skyc4,skylev4,cloudcover,temperature,dewpoint,altimeter,current_wx1_symbol,current_wx2_symbol,current_wx3_symbol,remarks
189613,SBGR,-23.42,-46.47,750.0,2023-01-21 19:00:00,170.0,9.0,NaN,9999.0,NaN,...,NaN,NaN,6.0,27.0,19.0,29.825283,0.0,0.0,0.0,
233656,SBSP,-23.62,-46.63,803.0,2023-03-14 21:00:00,290.0,4.0,NaN,4000.0,-RA,...,NaN,NaN,8.0,21.0,19.0,30.091053,61.0,0.0,0.0,RETS
218845,SBSP,-23.62,-46.63,803.0,2023-02-25 15:00:00,340.0,14.0,NaN,9999.0,NaN,...,NaN,NaN,6.0,29.0,18.0,30.002463,0.0,0.0,0.0,
122830,SBGR,-23.42,-46.47,750.0,2022-11-03 21:00:00,160.0,8.0,NaN,9999.0,NaN,...,NaN,NaN,6.0,15.0,8.0,30.238703,0.0,0.0,0.0,
101869,SBCF,-19.63,-43.97,828.0,2022-10-08 15:00:00,NaN,5.0,NaN,9999.0,NaN,...,NaN,NaN,4.0,27.0,17.0,30.031993,0.0,0.0,0.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109151,SBRJ,-22.88,-43.17,3.0,2022-10-18 10:00:00,30.0,6.0,NaN,9999.0,NaN,...,NaN,NaN,8.0,24.0,21.0,30.061523,0.0,0.0,0.0,
22716,None,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,None,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
243231,SBRF,-8.13,-34.92,19.0,2023-03-26 10:00:00,120.0,4.0,NaN,9999.0,NaN,...,NaN,NaN,6.0,27.0,23.0,29.913873,0.0,0.0,0.0,
262884,SBRJ,-22.88,-43.17,3.0,2023-04-17 12:00:00,10.0,4.0,NaN,10000.0,NaN,...,NaN,NaN,0.0,25.0,21.0,29.795753,0.0,0.0,0.0,
126210,SBKP,-23.00,-47.12,661.0,2022-11-07 23:00:00,140.0,17.0,NaN,10000.0,NaN,...,NaN,NaN,0.0,17.0,11.0,30.091053,0.0,0.0,0.0,